.authform
  %h3
    Edit #{resource_name.to_s.humanize}
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put, :role => 'form'}) do |f|
    = devise_error_messages!
    .form-group
      = f.label :name
      = f.text_field :name, :autofocus => true, class: 'form-control'
    .form-group
      = f.label :email
      = f.email_field :email, class: 'form-control'
    .form-group
      = f.label :organisation
      = f.text_field :organisation, class: 'form-control'
    .form-group
      = f.label :organisation_turnover
      = f.select :organisation_turnover, User.turnover, {}, { :class => 'form-control' }
    .form-group
      = f.label :organisation_size
      = f.select :organisation_size, User.employees, {}, { :class => 'form-control' }
    .form-group
      = f.label :digital_size
      = f.select :digital_size, User.digital, {}, { :class => 'form-control' }
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          Currently waiting confirmation for: #{resource.unconfirmed_email}
    %fieldset{:style => "margin-top:50px"}
      %p Leave these fields blank if you don't want to change your password.
      .form-group
        = f.label :password
        = f.password_field :password, :autocomplete => 'off', class: 'form-control'
      .form-group
        = f.label :password_confirmation
        = f.password_field :password_confirmation, class: 'form-control'
    %fieldset
      %p You must enter your current password to make changes.
      .form-group
        = f.label :current_password
        = f.password_field :current_password, class: 'form-control'
    .form-group.text-center
      = f.submit 'Update', :class => 'btn btn-primary center-block', :style => "float:none"
/ .authform
/   %h3 Cancel Account
/   %p Want to delete your account? Use the button below, this action cannot be undone.
/   %p= link_to 'Cancel my account', cancel_user_registration_path, :method=>'delete', :data => { :confirm => "Are you sure?" }

