<div class="index-header">
  <div id="chart-graphic">
    <div class="vertically-centered">
      <h1 class="title">
        <span class="index-title">Voluntary Sector Digital Maturity Matrix</span>
      </h1>
    </div>
  </div>
</div>
<section>
  <div class="home-create-buttons-block">
    <% if !Matrix.exists?(id: 1) %>
    <% elsif !current_user %>
      <%= link_to 'Create My Maturity Matrix', new_matrix_submission_path(Matrix.find(1)), :class => "primary-button" %>
    <% elsif current_user && Submission.exists?(user_id: current_user.id) %>
      <%= link_to 'View My Matrix', matrix_submission_path(Matrix.find(1),Submission.find_by_user_id(current_user.id)), :class => "primary-button" %>
    <% elsif current_user && !Submission.exists?(user_id: current_user.id) %>
      <%= link_to 'Create Digital Maturity Matrix', new_matrix_submission_path(Matrix.find(1)), :class => "primary-button" %>
    <% end %>
  </div>
  <div class="content-block" style="float:none">
    <h2>Moving</h2>
    <p>This website will be closing at the end of May 2019. We are currently rebuilding the digital maturity matrix and plan to launch it in March.</p>
    <p>We will not be transferring your data to the new site. If you wish to keep a copy of your assessment, please download it before the end of May.</p>
    <p><%= link_to "Sign up for an email alert when the new tool is launched", "https://analytics-eu.clickdimensions.com/ncvoorguk-ahxvj/pages/dwdbiguzeeebauahg2baeq.html" %>.</p>
  </div>
  <div class="content-block" style="float:none">
    <h2>About</h2>
    <p>The Voluntary Sector Digital Maturity Matrix is a free tool provided by <%= link_to "NCVO", "https://www.ncvo.org.uk/" %> to assess the current maturity of a voluntary sector organisation's digital capability, compared with its desired target state. Through a simple self-assessment, you can understand where your organisation needs to invest to reach digital excellence.</p>
    <p>It was developed by the digital team at <%= link_to "Breast Cancer Care", "https://www.breastcancercare.org.uk/" %>. You can read more about the decision to focus on digital maturity rather than digital transformation in this <%= link_to "Medium post", "https://medium.com/@gambollingsylph/why-i-choose-digital-maturity-over-digital-transformation-2a1f0ac27804" %>.</p>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <h2>Featured in</h2>
    <br/>
    <div class="home-featured-image home-featured">
      <%= link_to "http://www.thirdsector.co.uk/why-i-choose-digital-maturity-digital-transformation/digital/article/1394746" do %>
        <%= image_tag "thirdsector.jpg" %>
      <% end %>
    </div>
    <div class="home-featured-image home-featured">
      <%= link_to "http://tech.newstatesman.com/enterprise-it/digital-transformation-maturity-breast-cancer-care" do %>
        <%= image_tag "nstech.jpg" %>
      <% end %>
    </div>
    <div class="home-featured-image home-featured">
      <%= link_to "http://www.civilsociety.co.uk/it/news/content/22027/stop_looking_for_a_big_bang_moment_for_digital_transformation?topic=&print=1" do %>
        <%= image_tag "csuk.jpg" %>
      <% end %>
    </div>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <h2>Why?</h2>
    <p>The Digital Maturity Matrix was developed to:
    <ul>
      <li>identify gaps in capability</li>
      <li>prioritise areas for development</li>
      <li>measure maturity over time to understand positive or negative change.</li>
    </ul>
    <p>The usefulness of the tool within Breast Cancer Care exceeded expectations and it was soon realised that this was something that could benefit the voluntary sector as a whole. The tool was developed into a web application and made freely accessible to anyone. We hope it's useful to you and your organisation.

    <p>If you have any feedback or questions, please contact <%= mail_to "knowhow@ncvo.org.uk" %>.
  </div>
</section>
<section>
  <div class="content-block" id="matrix-makers" style="float:none">
    <h2>Digital matrix makers</h2>
    <br/>
    <div class="home-featured-image home-featured">
      <%= image_tag "tim.jpg" %>
      <h4>
        <strong>Tim Baker</strong>
      </h4>
      <h4>Technical Design & Development</h4>
    </div>
    <div class="home-featured-image home-featured">
      <%= image_tag "jo.jpg" %>
      <h4>
        <strong>Jo Wolfe</strong>
      </h4>
      <h4>Strategy, Marketing & Communications</h4>
    </div>
    <div class="home-featured-image home-featured">
      <%= image_tag "tom.jpg" %>
      <h4>
        <strong>Tom Kluge</strong>
      </h4>
      <h4>Concept Design, Theory & Analytics</h4>
    </div>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <h2>Benchmarking</h2>
    <p>We have benchmarked the responses so far to give an overview of how the sector is moving towards digital maturity, you can read the report <a href='https://s3-eu-west-1.amazonaws.com/digitalmaturitymatrix/Third_Sector_Digital_Maturity_-_A_Benchmark.pdf'> here</a>.</p>
  </div>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <h2>Open source</h2>
    <p>The application is open source and built using Ruby on Rails. Feel free to <a href="https://github.com/timpwbaker/digital-maturity-matrix">submit any feature requests to github</a>, although we make this all in our own time so can't promise to be super agile on it.</p>
  </div>
</section>
