<section>
  <div class="content-block" style="float:none">
    <h1>Benchmarked Digital Maturity</h1>
    <% query_params.to_hash.each do |key,value| %>
      <p>
        <%= "#{key.humanize}: #{value}" %>
      </p>
    <% end %>
    <h3>
      <%= "Current average maturity: #{submissions_aggregator.current_average_maturity}%" %>
      </br>
      <%= "Target average maturity: #{submissions_aggregator.target_average_maturity}%" %>
    </h3>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <div class="submission-form-question">
      <h2>Digital Maturity Matrix</h2>
      <div id="chart">
        <div id="radar-legend"></div>
        <canvas id='radarChart'></canvas><br>
      </div>
    </div>
    <div class="submission-form-question">
        <h2>Results by area</h2>
      <% Matrix.digital_maturity_areas.each do |area| %>
          <p><strong><%= area %></strong></p>
          <p><%= "Current: #{submissions_aggregator.current_averages[area]}%" %></p> 
          <p><%= "Target: #{submissions_aggregator.target_averages[area]}%" %></p>
      <% end %>
    </div>
  </div>
</section>

<script>
  radarData = {
    labels: ["Technology", "Channels & Devices", "Audiences", "User Experience", "Content", "Campaigns", "Analytics", "Governance"],
    datasets : [{
      label: "Current Maturity",
      fillColor: "rgba(255,255,255,0)",
      strokeColor: 'rgba(0,255,0,1)',
      pointColor: 'rgba(0,255,0,1)',
      pointStrokeColor: "#fff",
      data: <%= "#{submissions_aggregator.current_averages_array}" %>
    },
    {
      label: "Target Maturity",
      fillColor: "rgba(255,255,255,0)",
      strokeColor: 'rgba(225,0,0,1)',
      pointColor: 'rgba(225,0,0,1)',
      pointStrokeColor: "#fff",
      data: <%= "#{submissions_aggregator.target_averages_array}" %>
    }],
  }

  //Create Radar chart
  var radarOptions = {
    scaleShowLabels : true,
    scaleOverride: true,
    responsive: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    scaleStartValue: 0,
  };

  $(document).ready( function() {

    var ctx2 = document.getElementById("radarChart").getContext("2d");
    var radarChart = new Chart(ctx2).Radar(radarData,radarOptions);

    document.getElementById('radar-legend').innerHTML = radarChart.generateLegend();

  });
</script>
