.container
  %div.col-md-10.center-block{:style => "float:none"}
    .row.text-center
      %h1 Benchmarked Digital Maturity
      -query_params.to_hash.each do |key,value|
        %h3= "#{key.humanize}: #{value}"
    .row
      .col-md-6
        #chart-placeholder{:style => "position:relative"}
          %h2 Digital Maturity Matrix

          #chart
            <div id="radar-legend" class="chart-legend"></div>
            <canvas id='radarChart'></canvas><br>
      .col-md-6
        #chart-placeholder
          %h2= "Current average maturity: #{submissions_aggregator.current_average_maturity}%"
          %h2= "Target average maturity: #{submissions_aggregator.target_average_maturity}%"
        #chart-placeholder
          .col-xs-12.center-block.no-padding{:style=>"float:none"}
            - Matrix.digital_maturity_areas.each do |area|
              .row
                %p
                  %strong= area
              .row
                .col-sm-4.no-padding
                  %p= "Current: #{submissions_aggregator.current_averages[area]}%"

                .col-sm-4.no-padding
                  %p= "Target: #{submissions_aggregator.target_averages[area]}%"
        :javascript
          //radar chart data
          radarData = {
            labels: #{Matrix.digital_maturity_areas.to_s},
            datasets : [
                  {
                      label: "Current Maturity",
                      fillColor: "rgba(255,255,255,0)",
                      strokeColor: 'rgba(0,255,0,1)',
                      pointColor: 'rgba(0,255,0,1)',
                      pointStrokeColor: "#fff",
                      data: #{submissions_aggregator.current_averages_array}
                  },
                  {
                      label: "Target Maturity",
                      fillColor: "rgba(255,255,255,0)",
                      strokeColor: 'rgba(225,0,0,1)',
                      pointColor: 'rgba(225,0,0,1)',
                      pointStrokeColor: "#fff",
                      data: #{submissions_aggregator.target_averages_array}
                  }
              ],
          }

          //Create Radar chart
          var radarOptions = {
            scaleShowLabels : true,
            scaleOverride: true,
            multiTooltipTemplate: "<%= value + ' %' %>",
            responsive: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: 0,
          };

          $(document).ready( function() {

            var ctx2 = document.getElementById("radarChart").getContext("2d");
            var radarChart = new Chart(ctx2).Radar(radarData,radarOptions);

            document.getElementById('radar-legend').innerHTML = radarChart.generateLegend();

          });


