%p#notice= notice
%p
  %strong Name:
  = matrix.name
%p
  %strong Questions:
  %br/
  %table.table
    %thead
    %tr
      %th
        %strong Question
      %th
        %strong Area
      %th{ colspan: 2 }
    %tbody
      - questions.each do |question|
        %tr
          %td
            = question.body
          %td
            = question.area
          %td
            = link_to 'Edit question', edit_matrix_question_path(matrix,question)
          %td
            = link_to 'Delete', matrix_question_path(matrix,question), method: :delete, data: { confirm: 'Are you sure?' }
= link_to 'Add Question', new_matrix_question_path(matrix)
= link_to 'Add Submission', new_matrix_submission_path(matrix)
= link_to 'Edit', edit_matrix_path(matrix)
|
= link_to 'Back', matrices_path
