%p#notice= notice
%h1 Listing Answers
%table
  %thead
    %tr
      %th Submission
      %th Question
      %th Choice
      %th Edit
  %tbody
    - @answers.each do |answer|
      %tr
        %td= answer.submission.user.organisation
        %td= answer.question.body
        %td= answer.choice
        %td= link_to 'Edit', edit_matrix_submission_answer_path(@matrix, @submission, answer)