= form_for([@matrix,@submission]) do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2
        = pluralize(@submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message
    %br/
  .field  
    = f.hidden_field :matrix_id, :value => params[:matrix_id]
  .field
    = f.hidden_field :user_id, :value => current_user.id
  %div{:class => "row"}
    %div{:class => "col-xs-4"}
      %p
        %strong Questions
        - @questions.each do |question|
          -if question.area == @area
            %p{:class => "question"}= question.body
    %div{:class => "col-xs-4"}
      %p
        %strong Current Level
        = f.fields_for :answers, @answers do |answer|
          -if answer.object.question.area == @area
            %p
              .field{:class => "answer-box"} 
                = answer.select :choice, Submission.choices

            .field
              = answer.hidden_field :question_answered, :value => answer.object.question.body
            .field
              = answer.hidden_field :question_id, :value => answer.object.question.id
    %div{:class => "col-xs-4"}
      %p
        %strong Targets
        = f.fields_for :targets, @targets do |target|
          -if target.object.question.area == @area
            %p
              .field{:class => "target-box"} 
                = target.select :choice, Submission.choices

            .field
              = target.hidden_field :question_answered, :value => target.object.question.body
            .field
              = target.hidden_field :question_id, :value => target.object.question.id

        
  .actions
    = f.submit 'Submit',:class => "btn btn-primary"
