<%= form_for([matrix, submission]) do |f| %>
  <% if submission.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(submission.errors.count, "error") %>
        prohibited this submission from being saved:
      </h2>
      <ul>
        <% submission.errors.full_messages.each do |message| %>
          <li>
            <%= message %>
          </li>
        <% end %>
      </ul>
    </div>
    <br/>
  <% end %>
  <div class="field">
    <%= f.hidden_field :matrix_id, :value => params[:matrix_id] %>
  </div>
  <div class="field">
    <%= f.hidden_field :user_id, :value => current_user.id %>
  </div>
  <% Matrix.digital_maturity_areas.each_with_index do |area, index| %>
    <div class="area-block hidden" id="block_<%= area.delete(' ').delete('&') %>">
      <%= render partial: "progress_bar", locals: { progress_bar: progress_bar, index: index } %>
      <%= render partial: "form_header", locals: { area: area }%>
      <% matrix.questions.order(:area).each_with_index do |question, qi| %>
        <% if question.area == area %>
          <%= render partial: "form_question", locals: { question: question, area: area, submission: submission } %>
        <% end %>
      <% end %>
    </div>
  <% end %>
  <div class="content-block" style="float:none">
    <%= f.submit "Submit", :id => "submit-button", :class => "hidden primary-button save-update-matrix", :style => "margin:20px 10px 0 0" %>
  </div>
<% end %>
