= form_for([@matrix,@submission]) do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2
        = pluralize(@submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message
    %br/
  .field  
    = f.hidden_field :matrix_id, :value => params[:matrix_id]
  .field
    = f.hidden_field :user_id, :value => current_user.id
  - @questions.each_with_index do |question, qi|
    = question.body 
    = f.fields_for :answers, [Answer.new] do |answer|
      -if answer.options[:child_index] == qi
        .field 
          = answer.label :current_state
          = answer.select :choice, Submission.choices
        .field
          = answer.hidden_field :question_answered, :value => question.body
        .field
          = answer.hidden_field :question_id, :value => question.id
    = f.fields_for :targets, [Target.new] do |target|
      -if target.options[:child_index] == qi
        .field 
          = target.label :target_state
          = target.select :choice, Submission.choices

        .field
          = target.hidden_field :question_answered, :value => question.body
        .field
          = target.hidden_field :question_id, :value => question.id
    

    
  .actions
    = f.submit
