// This form is used to create new submissions
= form_for([matrix, submission]) do |f|
  - if submission.errors.any?
    #error_explanation
      %h2
        = pluralize(submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - submission.errors.full_messages.each do |message|
          %li= message
    %br/
  .field
    = f.hidden_field :matrix_id, :value => params[:matrix_id]
  .field
    = f.hidden_field :user_id, :value => current_user.id
  - Matrix.digital_maturity_areas.each_with_index do |area, index|
    .area-block.hidden{:id => "block_#{area.delete(' ').delete('&')}"}
      .row
        .col-xs-6.no-padding
          %h2= area
        .col-xs-3.no-padding
          %h3 Current State
        .col-xs-3.no-padding
          %h3 Target State
      - matrix.questions.order(:area).each_with_index do |question, qi|
        -if question.area == area
          .row
            .col-xs-6.no-padding
              = question.body
            .col-xs-3.no-padding
              .field
                = select_tag "submission[answers_json][#{area}][" + question.id.to_s + "]", options_for_select(Submission.choices, submission.answers_json[area][question.id.to_s])
            .col-xs-3.no-padding
              = f.fields_for :targets, [Target.new] do |target|
                .field
                  = select_tag "submission[targets_json][#{area}][" + question.id.to_s + "]", options_for_select(Submission.choices, submission.targets_json[area][question.id.to_s])

  .actions
    = f.submit "Create my matrix", :id => "submit-button", :class => "hidden btn btn-primary save-update-matrix", :style => "margin:20px 10px 0 0"
