= form_for([@matrix,@submission]) do |f|
  - if @submission.errors.any?
    #error_explanation
      %h2
        = pluralize(@submission.errors.count, "error")
        prohibited this submission from being saved:
      %ul
        - @submission.errors.full_messages.each do |message|
          %li= message
    %br/
  .field  
    = f.hidden_field :matrix_id, :value => params[:matrix_id]
  .field
    = f.hidden_field :user_id, :value => current_user.id
  - Matrix.digital_maturity_areas.each_with_index do |area, index|
    %div{:id => "block_#{area}", :class => "area-block hidden"}
      %div{:class => "row"}
        %div{:class => "col-md-4"}
          %h2= area
        %div{:class => "col-md-4"}
          %h3 Current State
        %div{:class => "col-md-4"}
          %h3 Target State
      - @questions.each_with_index do |question, qi|
        -if question.area == area
          %div{:class => "row"}
            %div{:class => "col-md-4"}
              = question.body 
            %div{:class => "col-md-4"}
              = f.fields_for :answers, [Answer.new] do |answer|
                .field 
                  = answer.select :choice, Submission.choices
                .field
                  = answer.hidden_field :question_answered, :value => question.body
                .field
                  = answer.hidden_field :question_id, :value => question.id
            %div{:class => "col-md-4"}  
              = f.fields_for :targets, [Target.new] do |target|
                .field 
                  = target.select :choice, Submission.choices

                .field
                  = target.hidden_field :question_answered, :value => question.body
                .field
                  = target.hidden_field :question_id, :value => question.id
      

      
  .actions{:class => "hidden"}
    = f.submit
