%div.container
  %div.row
    %div.col-md-9.col-xs-11.center-block{:style => "float:none"}
      %h1= "#{submission.user.organisation} Digital Maturity Matrix"
      %div
        - Matrix.digital_maturity_areas.each_with_index do |area|
          - if area == start_area
            %button{:id => "button"+area.delete(' ').delete('&'), :class => "btn btn-secondary", :disabled => "true", :onclick => "changeArea(\'"+area.delete(' ').delete('&')+"\');"}=area
          -else
            %button{:id => "button"+area.delete(' ').delete('&'), :class => "btn btn-primary", :onclick => "changeArea(\'"+area.delete(' ').delete('&')+"\');"}=area
  %div.row
    %div.col-md-9.col-xs-11.center-block{:style => "float:none"}
      = render 'form', matrix: matrix, submission: submission, start_area: start_area, progress_bar: false
      #loading.hidden
        =image_tag '/images/loading.gif'

:javascript

  $(document).ready( function() {
    $("#block_#{start_area}").removeClass("hidden").addClass("on-show");
  });
= javascript_include_tag 'edit_submission_display'
= javascript_include_tag 'loading_button'


