.container
  %div.col-md-10.center-block{:style => "float:none"}
    .row.text-center
      %h1
        = "#{submission.user.organisation} #{submission.matrix.name}"
      %h2
        %strong Created by:
        = submission.user.name
    .row
      .col-md-3.text-center.no-padding
        -if submission.user.try(:brand)
          =link_to "Edit brand colours", edit_brand_path(submission.user.brand, submission_id: submission.id),{:class => "btn btn-primary", :id => "edit-brand-colours"}
        -else
          =link_to "Add your brand colours", new_brand_path(submission_id: submission.id),{:class => "btn btn-primary", :id => "add-brand-colours"}

      .col-md-3.text-center.show-pdf.no-padding
        =button_to "Save as PDF", matrix_submission_dispatch_pdfs_path(submission.matrix, submission),{:class => "btn btn-primary", :target => "_blank"}

      .col-md-3.text-center.no-padding
        =button_to "Email my PDF", matrix_submission_dispatch_pdfs_path(submission.matrix, submission, target: 'email'),{:class => "btn btn-primary emailpdf"}

      .col-md-3.text-center.no-padding
        =link_to 'Edit Submission', edit_matrix_submission_path(submission.matrix,submission),{:class => "btn btn-primary", :id => "edit-submission-button"}
    .row
      .col-md-6
        #chart-placeholder{:style => "position:relative"}
          %h2 Your Digital Maturity (Radar Chart)

          #chart
            <div id="radar-legend" class="chart-legend"></div>
            <canvas id='radarChart'></canvas><br>
        #chart-placeholder{:style => "position:relative"}
          %h2 Your Digital Maturity (Bar Chart)
          #bar-legend
          #chart
            <div id="bar-legend" class="chart-legend"></div>
            <canvas height="300px" id='barChart'></canvas><br>
      .col-md-6
        #chart-placeholder
          %h2= "Current digital maturity: #{submission.calculator.top_line_current}%"
          %h2= "Target digital maturity: #{submission.calculator.top_line_target}%"
        #chart-placeholder
          .col-xs-12.center-block.no-padding{:style=>"float:none"}
            - Matrix.digital_maturity_areas.each do |area|
              .row
                %p
                  %strong= area
              .row
                .col-sm-4.no-padding
                  %p= "Current: #{submission.calculator.total_current_score_by(area)}%"

                .col-sm-4.no-padding
                  %p= "Target: #{submission.calculator.total_target_score_by(area)}%"

                .col-sm-4.no-padding
                  = link_to 'Edit', edit_matrix_submission_path(submission.matrix,submission,:area => area), :class => "no-margin btn btn-secondary edit-area-button"


:javascript

  $(".emailpdf").click(function(){
    $(".emailpdf").html("<img height='30px' width='30px' src='/images/loading.gif'>");
  });

  //radar chart data
  radarData = {
    labels: #{Matrix.digital_maturity_areas.to_s},
    datasets : [
          {
              label: "Current Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              pointColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              pointStrokeColor: "#fff",
              data: #{submission.calculator.current_data_array}
          },
          {
              label: "Target Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "#{submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)'}",
              pointColor: "#{submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)'}",
              pointStrokeColor: "#fff",
              data: #{submission.calculator.target_data_array}
          }
      ],
  }

  //Create Radar chart
  var radarOptions = {
    scaleShowLabels : true,
    scaleOverride: true,
    multiTooltipTemplate: "<%= value + ' %' %>",
    responsive: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    scaleStartValue: 0,
  };

  var barOptions = {
    multiTooltipTemplate: "<%= value + ' %' %>",
    responsive: true,
    scaleShowLabels : true,
    scaleOverride: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    legend: {
        display: true,
        labels: {
            fontColor: 'rgb(255, 99, 132)'
        }
    },
    scales: {
            xAxes: [{
                    stacked: true
            }],
            yAxes: [{
                    stacked: true
            }]
        }

  };

  //bar
  var barData = {
      labels: #{Matrix.digital_maturity_areas.to_s},
      datasets: [
          {
              label: "Current Maturity",
              fillColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              strokeColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              borderWidth: 1,
              highlightFill: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              highlightStroke: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              data: #{submission.calculator.current_data_array},
          },
          {
              label: "Target Maturity",
              fillColor: "#{submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)'}",
              strokeColor: "#{submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)'}",
              borderWidth: 1,
              highlightFill: "#{submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)'}",
              highlightStroke: "#{submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)'}",
              data: #{submission.calculator.target_data_array},
          }
      ]
  };

  $(document).ready( function() {

    var ctx2 = document.getElementById("radarChart").getContext("2d");
    var radarChart = new Chart(ctx2).Radar(radarData,radarOptions);

    document.getElementById('radar-legend').innerHTML = radarChart.generateLegend();

    var ctx3 = document.getElementById("barChart").getContext("2d");
    var barChart = new Chart(ctx3).Bar(barData,barOptions);

    document.getElementById('bar-legend').innerHTML = barChart.generateLegend();

  });


