= stylesheet_link_tag 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css'
%style{type: "text/css"}
  = File.read(Rails.root.join("public","pdf-styles.css"))
= javascript_include_tag 'http://code.jquery.com/jquery-1.10.0.min.js'
= javascript_include_tag 'http://code.jquery.com/ui/1.10.3/jquery-ui.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js'

%p#notice= notice
%div.col-md-12
  %h1.text-center
    = "#{submission.user.organisation} #{matrix.name}"
  %p.text-center
    = "Created on: #{submission.updated_at.strftime("%d-%m-%Y")}"

%div.col-md-12
%div#placeholder{:style => "position:relative"}
%div#chart
  <canvas style="margin:30px 100px" id='radarChart' width='600' height='450'></canvas><br>

.row
  %h2{:style => "text-align:center"} Your Maturity
  .col-xs-6.text-right
    %h4
      %strong= "Current maturity: #{submission.top_line_current}%"
  .col-xs-6.text-left
    %h4
      %strong= "Target maturity: #{submission.top_line_target}%"
  - Matrix.digital_maturity_areas.each do |area|
    .row
      .col-xs-12.text-center
        %p
          %strong= area
    .row
      .col-xs-6.text-right
        %p= "Current: #{submission.total_current_score_by(area)}%"
      .col-xs-6.text-left
        %p= "Target: #{submission.total_target_score_by(area)}%"

:javascript
  //radar chart data
  radarData = {
    labels: #{Matrix.digital_maturity_areas.to_s},
    datasets : [
          {
              label: "Current Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              pointColor: "#{submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)'}",
              pointStrokeColor: "#fff",
              data: #{submission.current_data_array}
          },
          {
              label: "Target Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "#{submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)'}",
              pointColor: "#{submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)'}",
              pointStrokeColor: "#fff",
              data: #{submission.target_data_array}
          }
      ],
  }
  //Create Radar chart
  $(document).ready(function(){
  var options = {
    scaleShowLabels : true, // to hide vertical lables
    scaleOverride: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    scaleStartValue: 0
  };
  var ctx2 = document.getElementById("radarChart").getContext("2d");
  var myNewChart = new Chart(ctx2).Radar(radarData);
  new Chart(ctx2).Radar(radarData,options);
  var data = radarData;  // refers to the charts data
  legend(document.getElementById('placeholder'), data)
  });
