<section>
  <div class="content-block" style="float:none">
    <h1>
      <%= "#{submission.user.organisation} #{submission.matrix.name}" %>
    </h1>
    <p>
      <strong>Created by:</strong>
      <%= submission.user.name %>
    </p>
    <h3>
      <%= "Current digital maturity: #{submission.calculator.current_maturity}%" %>
    </h3>
    <h3>
      <%= "Target digital maturity: #{submission.calculator.target_maturity}%" %>
    </h3>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <div class="submission-form-selection">
      <% if submission.user.try(:brand) %>
        <%= link_to "Edit brand colours", edit_brand_path(submission.user.brand, submission_id: submission.id),{:class => "primary-button", :id => "edit-brand-colours"} %>
      <% else %>
        <%= link_to "Add your brand colours", new_brand_path(submission_id: submission.id),{:class => "primary-button", :id => "add-brand-colours"} %>
      <% end %>
    </div>
    <div class="submission-form-selection">
      <%= button_to "Save as PDF", matrix_submission_dispatch_pdfs_path(submission.matrix, submission),{:class => "primary-button", :target => "_blank"} %>
    </div>
    <div class="submission-form-selection">
      <%= button_to "Email my PDF", matrix_submission_dispatch_pdfs_path(submission.matrix, submission, target: 'email'),{:class => "primary-button emailpdf"} %>
    </div>
    <div class="submission-form-selection">
      <%= link_to 'Edit Submission', edit_matrix_submission_path(submission.matrix,submission),{:class => "primary-button", :id => "edit-submission-button"} %>
    </div>
  </div>
</section>
<section>
  <div class="content-block" style="float:none">
    <div class="submission-show-chart">
      <h2>Your Digital Maturity (Radar Chart)</h2>
      <div id="chart">
        <div id="radar-legend"></div>
        <canvas id='radarChart'></canvas><br>
      </div>
      <h2>Your Digital Maturity (Bar Chart)</h2>
      <div id="chart">
        <div id="bar-legend"></div>
        <canvas height="300px" id='barChart'></canvas><br>
      </div>
    </div>
    <div class="submission-show-areas">
      <h2>Results</h2>
      <% Matrix.digital_maturity_areas.each do |area| %>
        <p><strong><%= area %></strong></p>
        <p><%= "Current: #{submission.calculator.current_hash[area]}%" %></br>
        <%= "Target: #{submission.calculator.target_hash[area]}%" %></p>
      <% end %>
    </div>
  </div>
</section>

<script>

  $(".emailpdf").click(function(){
    $(".emailpdf").html("<img height='30px' width='30px' src='/images/loading.gif'>");
  });

  //radar chart data
  radarData = {
    labels: ["Technology", "Channels & Devices", "Audiences", "User Experience", "Content", "Campaigns", "Analytics", "Governance"],
    datasets : [
          {
              label: "Current Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              pointColor: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              pointStrokeColor: "#fff",
              data: <%= "#{submission.calculator.current_array}" %>
          },
          {
              label: "Target Maturity",
              fillColor: "rgba(255,255,255,0)",
              strokeColor: "<%= submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)' %>",
              pointColor: "<%=submission.user.brand.try(:color_b) || 'rgba(225,0,0,1)' %>",
              pointStrokeColor: "#fff",
              data: <%= "#{submission.calculator.target_array}" %>
          }
      ],
  }

  //Create Radar chart
  var radarOptions = {
    scaleShowLabels : true,
    scaleOverride: true,
    responsive: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    scaleStartValue: 0,
  };

  var barOptions = {
    responsive: true,
    scaleShowLabels : true,
    scaleOverride: true,
    scaleSteps: 10,
    scaleStepWidth: 10,
    legend: {
        display: true,
        labels: {
            fontColor: 'rgb(255, 99, 132)'
        }
    },
    scales: {
            xAxes: [{
                    stacked: true
            }],
            yAxes: [{
                    stacked: true
            }]
        }

  };

  //bar
  var barData = {
    labels: ["Technology", "Channels & Devices", "Audiences", "User Experience", "Content", "Campaigns", "Analytics", "Governance"],
      datasets: [
          {
              label: "Current Maturity",
              fillColor: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              strokeColor: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              borderWidth: 1,
              highlightFill: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              highlightStroke: "<%= submission.user.brand.try(:color_a) || 'rgba(0,255,0,1)' %>",
              data: <%= "#{submission.calculator.current_array}" %>
          },
          {
              label: "Target Maturity",
              fillColor: "<%= submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)' %>",
              strokeColor: "<%= submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)' %>",
              borderWidth: 1,
              highlightFill: "<%= submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)' %>",
              highlightStroke: "<%= submission.user.brand.try(:color_b) || 'rgba(255,0,0,1)' %>",
              data: <%= "#{submission.calculator.target_array}" %>
          }
      ]
  };

  $(document).ready( function() {

    var ctx2 = document.getElementById("radarChart").getContext("2d");
    var radarChart = new Chart(ctx2).Radar(radarData,radarOptions);

    document.getElementById('radar-legend').innerHTML = radarChart.generateLegend();

    var ctx3 = document.getElementById("barChart").getContext("2d");
    var barChart = new Chart(ctx3).Bar(barData,barOptions);

    document.getElementById('bar-legend').innerHTML = barChart.generateLegend();

  });

</script>

