.container
  %div.col-md-10.center-block{:style => "float:none"}
    .row
      .col-sm-8
        %h1
          = "#{@submission.user.organisation} #{@matrix.name}"
        %h2
          %strong Created by:
          = @submission.user.name
      .col-sm-4
        .col-md-12.text-right-not-xs.no-padding
          -if Brand.exists?(user_id: current_user.id)
            =link_to "Edit brand colours", edit_brand_path(current_user.brand, submission_id: @submission.id),{:class => "btn btn-primary"}
          -else
            =link_to "Add your brand colours", new_brand_path(submission_id: @submission.id),{:class => "btn btn-primary"}

        .col-md-12.text-right-not-xs.show-pdf.no-padding
          =link_to "Save as PDF", matrix_submission_path(@matrix, @submission, format: :pdf),{:class => "btn btn-primary", :target => "_blank"}

        .col-md-12.text-right-not-xs.no-padding
          =link_to "Email my PDF", submissions_emailpdf_path(@matrix,@submission),{:class => "btn btn-primary emailpdf"}

        .col-md-12.text-right-not-xs.no-padding
          =link_to 'Edit Submission', edit_matrix_submission_path(@matrix,@submission),{:class => "btn btn-primary"}
    .row.home-row
      .col-md-6
        #chart-placeholder{:style => "position:relative"}
          #chart
            <div id="radar-legend" class="chart-legend"></div>
            <canvas id='radarChart'></canvas><br>
        #chart-placeholder{:style => "position:relative"}
          #bar-legend
          #chart
            <div id="bar-legend" class="chart-legend"></div>
            <canvas height="300px" id='barChart'></canvas><br>
      .col-md-6
        %h2{:style => "text-align:center"} Your Maturity
        .col-xs-12.center-block.no-padding{:style=>"float:none"}
          
          - @answers_data_array = []
          - @targets_data_array = []
          - Matrix.digital_maturity_areas.each do |area|
            .row
              %p
                %strong= area
            .row    
              .col-sm-4.no-padding
                - @total_score = 0
                - @ordered_answers.each do |answer|
                  - if answer.question.area == area
                    - @total_score = @total_score+answer.score
                %p= "Current: #{@total_score.round(0)}%"
                - @answers_data_array << @total_score.round

              .col-sm-4.no-padding
                - @total_score = 0
                - @ordered_targets.each do |target|
                  - if target.question.area == area
                    - @total_score = @total_score+target.score
                %p= "Target: #{@total_score.round(0)}%"
                - @targets_data_array << @total_score.round

              .col-sm-4.no-padding
                = link_to 'Edit', edit_matrix_submission_path(@matrix,@submission,:area => area), :class => "no-margin btn btn-secondary edit-area-button"
          

    .row
      %h2{:style => "text-align:center"} Your Answers
      .col-md-6
        %h3 Current Level
        - @answers_data_array = []
        - Matrix.digital_maturity_areas.each do |area|
          %h4= area
          - @total_score = 0
          - @ordered_answers.each do |answer|
            - if answer.question.area == area
              %p
              %strong= answer.question_answered
              %br= answer.choice
              - @total_score = @total_score+answer.score
          %p
            %strong= "Area Score: #{@total_score.round(0)}"
          - @answers_data_array.push(@total_score.round)
          %button.btn.btn-primary
            = link_to 'Edit Section', edit_matrix_submission_path(@matrix,@submission,:area => area)
      .col-md-6
        %h3 Target Level
        - @targets_data_array = []
        - Matrix.digital_maturity_areas.each do |area|
          %h4= area
          - @total_score = 0
          - @ordered_targets.each do |target|
            - if target.question.area == area
              %p
              %strong= target.question_answered
              %br= target.choice
              - @total_score = @total_score+target.score
          %p
            %strong= "Area Target: #{@total_score.round(0)}"
          - @targets_data_array.push(@total_score.round)
          %button.btn.btn-primary
            = link_to 'Edit Section', edit_matrix_submission_path(@matrix,@submission,:area => area)


   

        :javascript

          $(".emailpdf").click(function(){
            $(".emailpdf").html("<img height='30px' width='30px' src='/images/loading.gif'>");
          });
          

          //radar chart data
          radarData = {
            labels: #{Matrix.digital_maturity_areas.to_s},
            datasets : [
                  {
                      label: "Current Maturity",
                      fillColor: "rgba(255,255,255,0)",
                      strokeColor: "#{@brand_1}",
                      pointColor: "#{@brand_1}",
                      pointStrokeColor: "#fff",
                      data: #{@answers_data_array.to_s}
                  },
                  {
                      label: "Target Maturity",
                      fillColor: "rgba(255,255,255,0)",
                      strokeColor: "#{@brand_2}",
                      pointColor: "#{@brand_2}",
                      pointStrokeColor: "#fff",
                      data: #{@targets_data_array.to_s}
                  }
              ],
          }

          //Create Radar chart


          var radarOptions = {
            scaleShowLabels : true, 
            scaleOverride: true,
            multiTooltipTemplate: "<%= value + ' %' %>",
            responsive: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            scaleStartValue: 0,
          };

          var barOptions = {
            multiTooltipTemplate: "<%= value + ' %' %>",
            responsive: true,
            scaleShowLabels : true, 
            scaleOverride: true,
            scaleSteps: 10,
            scaleStepWidth: 10,
            legend: {
                display: true,
                labels: {
                    fontColor: 'rgb(255, 99, 132)'
                }
            },
            scales: {
                    xAxes: [{
                            stacked: true
                    }],
                    yAxes: [{
                            stacked: true
                    }]
                }
            
          };

          //bar


          var barData = {
              labels: #{Matrix.digital_maturity_areas.to_s},
              datasets: [
                  {
                      label: "Current Maturity",
                      fillColor: "#{@brand_1}",
                      strokeColor: "#{@brand_1}",
                      borderWidth: 1,
                      highlightFill: "#{@brand_1}",
                      highlightStroke: "#{@brand_1}",
                      data: #{@answers_data_array.to_s},
                  },
                  {
                      label: "Target Maturity",
                      fillColor: "#{@brand_2}",
                      strokeColor: "#{@brand_2}",
                      borderWidth: 1,
                      highlightFill: "#{@brand_2}",
                      highlightStroke: "#{@brand_2}",
                      data: #{@targets_data_array.to_s},
                  }
              ]
          };

          $(document).ready( function() {

            var ctx2 = document.getElementById("radarChart").getContext("2d");
            var radarChart = new Chart(ctx2).Radar(radarData,radarOptions);

            document.getElementById('radar-legend').innerHTML = radarChart.generateLegend();

            var ctx3 = document.getElementById("barChart").getContext("2d");
            var barChart = new Chart(ctx3).Bar(barData,barOptions);

            document.getElementById('bar-legend').innerHTML = barChart.generateLegend();

          });

          
