<section>
  <div class="content-block" style="float:none">
    <h3>
      <%= "Sign in below to create/view your Maturity Matrix. Alternatively " %>
      <% if devise_mapping.registerable? %>
        <%= link_to 'create an account.', new_registration_path(resource_name), :style => "display:inline" %>
      <% end %>
    </h3>
    <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => { :role => 'form'}) do |f| %>
      <%= devise_error_messages! %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>
        <% if devise_mapping.recoverable? %>
          <p><%= link_to "Forgot password?", new_password_path(resource_name), class: 'right' %></p>
        <% end %>
      </div>
      <% if devise_mapping.rememberable? %>
      <div class="form-group">
          <%= f.label :remember_me %>
          <%= f.check_box :remember_me %>
        </div>
      <% end %>
      <%= f.submit 'Sign in', :class => 'button right' %>
    <% end %>
  </div>
</section>
