= form_for([@user,@benchmark_application]) do |f|
  - if @benchmark_application.errors.any?
    #error_explanation
      %h2= "#{pluralize(@benchmark_application.errors.count, "error")} prohibited this benchmark_application from being saved:"
      %ul
        - @benchmark_application.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.hidden_field :user_id, :value => current_user.id
  %div.row
    .field
      = f.label :organisation
      = f.text_field :organisation_name
  %div.row
    .field
      = f.label :organisation_turnover
      = f.select :organisation_turnover, BenchmarkApplication.turnover
  %div.row
    .field
      = f.label :organisation_employees
      = f.select :organisation_employees, BenchmarkApplication.employees
  %div.row
    .field
      = f.label :digital_employees
      = f.select :digital_employees, BenchmarkApplication.digital
  %div.row
    .field
      = f.label :opt_in
      = f.check_box :opt_in
  %div.row    
    .actions
      = f.submit 'Save'