%h1 Listing benchmark_applications

%table
  %thead
    %tr
      %th User
      %th Organisation name
      %th Organisation turnover
      %th Organisation employees
      %th Digital employees
      %th Opt in


  %tbody
    %tr
      %td= @benchmark_application.user.id
      %td= @benchmark_application.organisation_name
      %td= @benchmark_application.organisation_turnover
      %td= @benchmark_application.organisation_employees
      %td= @benchmark_application.digital_employees
      %td= @benchmark_application.opt_in
