%p#notice= notice

%p
  %b User:
  = @benchmark_application.user.name
%p
  %b Organisation name:
  = @benchmark_application.organisation_name
%p
  %b Organisation turnover:
  = @benchmark_application.organisation_turnover
%p
  %b Organisation employees:
  = @benchmark_application.organisation_employees
%p
  %b Digital employees:
  = @benchmark_application.digital_employees
%p
  %b Opt in:
  = @benchmark_application.opt_in

